*{
    margin: 0;
    /*background: url('https://static-mh.content.disney.io/starwars/assets/background/bg_starsL-fd4661a3ccea.jpg');*/
}
body{
    background: url('https://static-mh.content.disney.io/starwars/assets/background/bg_starsL-fd4661a3ccea.jpg');
    height:2500px;
}
nav{
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

ul{
    list-style: none;
    display: flex;
}
li {
    flex:1;    
    color:white;

}
a{
    text-decoration: none;
    transition: 1s;
}
a:visited{
    color: white;
}
table{ 
    width: 100%;
    

}
tr{
    display: flex;
}
td{
    flex:1;
    border:solid white 1px;
    text-align: center;
    
}
th{
    flex:4;
}
button{
    background: rgba(255,255,255,0);
    border: none;
}

.items{
    padding-top: 1%;
    text-align: center;
}
.items:hover{
    background: rgba(148, 148, 148, 0.4);
}
.trailer{
    height: 60vh;
    width: 70vw;
    padding-top:1%;
    margin-left: auto;
    margin-right: auto;
}
.heading1{
    color: white;
    padding-top:3%;
}
.portrait{
    border-radius: 90%;
    width: 100px;
    height: 100px;
}
.portrait:hover{
    width:300px;
    height:300px;
    transition: 1s;
    position: absolute;
    
}
td.right{
    text-align: right;
    
}
td.left{
    text-align: left;
    
}
#logo{
    flex:10;
}
#hero3 {
    /*background: url('https://vignette1.wikia.nocookie.net/starwars/images/a/aa/Rogue_One_A_Star_Wars_Story_poster.png/revision/latest?cb=20160715171410'); */
    /*background: url('https://i.ytimg.com/vi/ZgtRXRQwVWM/maxresdefault.jpg');*/
    background:url('https://images6.alphacoders.com/787/thumb-1920-787058.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 33%;
}
#hero1 {
    /*background: url('https://vignette1.wikia.nocookie.net/starwars/images/a/aa/Rogue_One_A_Star_Wars_Story_poster.png/revision/latest?cb=20160715171410'); */
    /*background: url('https://desktopwallpapers.us/wp-content/uploads/2016/11/Stormtroopers-Rogue-One-a-Star-Wars-Story.jpg');*/
    /*background:url('https://images6.alphacoders.com/787/thumb-1920-787058.jpg');*/
    background: url('http://orig05.deviantart.net/a623/f/2016/304/e/b/rogue_one_wallpaper__textless_theatrical_poster__by_spirit__of_adventure-damtloc.png');
    background-size: 100% ;
    background-repeat: no-repeat;
    height: 33%;
}

#hero2 {
    /*background: url('https://vignette1.wikia.nocookie.net/starwars/images/a/aa/Rogue_One_A_Star_Wars_Story_poster.png/revision/latest?cb=20160715171410'); */
    background: url('https://desktopwallpapers.us/wp-content/uploads/2016/11/Stormtroopers-Rogue-One-a-Star-Wars-Story.jpg');
    /*background:url('https://images6.alphacoders.com/787/thumb-1920-787058.jpg');*/
    background-size: 100% ;
    background-repeat: no-repeat;
    height: 33%;
}
#rogue{
    padding-top: 4%;
    height: 40%;
    width: 30%;
}
.superQuote{
    text-align: center;
    color: rgb(255, 215, 0);
    text-shadow: 2px 2px 4px black;
    font-family: 'Lora', serif;
}
#myImg{
    cursor: pointer;
    transition: 0.3s;

}

.modal{
    display: none;
    position:fixed;
    z-index: 1;
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}